// Colors
$primary: #133abd;
$primaryHover: #0f309f;
$secondary: #7bea9d;
$secondaryHover: #71db91;
$textPrimary: #111210;
$textSecondary: #282a25;
$textMono: #707070;
$textMono2: #b9b9b9;
$textMono3: #f0f0f0;
$textMono4: #fafafa;
$bgPrimary: #303030;
$bgSecondary: #424242;
// Break points
$xs-break:400px;
$sm-break:768px;
$md-break:992px;
$lg-break:1200px;
$xl-break:1392px;
// Others
$borderColor: rgba(94, 114, 169, 0.3);
$footerText: #6d6d6d !default;